* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  background: url('../Image/ContactMe/background-image.gif') no-repeat center center fixed;
  background-size: cover;
}

header {
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  padding: 50px 0;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar a {
  width: 150px;
  height: 20px;
  margin: 0 50px 0 40px;
  color: #616161;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.icon-container {
  margin-left: 75px;
  display: flex;
  align-items: right;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 65px;
}

.slider {
  position: absolute;
  bottom: -5px;
  height: 30px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(66, 66, 66, 0.1);
  z-index: 0;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 700px;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: rgba(red, green, blue, 0.4); */
  margin: 0px auto;
  margin-bottom: 0px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
}

.contact-info {
  color: #616161;
  margin-left: 100px;
  width: 45%;
}

.contact-info p {
  font-size: 18px;
  color: #616161;
}

.contact-info h2 {
  font-size: 28px;
  margin: 60px 0 30px;
}

.contact-info h1 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #616161;
}

.contact-info ul {
  align-items: center;
  /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  list-style: none;
}

.contact-info ul li {
  margin-bottom: 20px;
}

.contact-info a {
  color: #616161;
  font-size: 16px;
  font-family: "Inter", serif;
  text-decoration: none;
}

.contact-info ul li img {
  margin-right: 20px;
}

.contact-image {
  width: 45%;
  text-align: center;
}

.contact-image img {
  max-width: 100%;
  border-radius: 20px;
}

footer {
  padding: 18px;
  text-align: center;
  background: transparent;
  margin-top: 10px;
  width: 100%;
}

footer a {
  color: #616161;
  text-decoration: none;
  font-family: "Inter", serif;
  font-weight: 500;
}